APP_ENV=development #en producción cambiar a production
APP_URL=http://localhost:8080 # en producción cambiar a la URL de tu dominio
BASE_URL=/

DB_HOST=db
DB_PORT=3306
DB_NAME=la_comanda
DB_USER=lacomanda_user
DB_PASSWORD=ClaveSegura123
MYSQL_ROOT_PASSWORD=rootpassword

# Configuración de Correo (Gmail SMTP)
MAIL_ENABLED=true
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_ENCRYPTION=tls
MAIL_USERNAME=tu_correo@gmail.com
MAIL_PASSWORD=tu_contrasena_de_aplicacion_de_16_letras
MAIL_FROM_ADDRESS=tu_correo@gmail.com
MAIL_FROM_NAME="La Comanda"
