 body {
            font-family: 'Montserrat', sans-serif;
        }

        .brand-green {
            background-color: #70A38F;
        }

        .brand-brown {
            color: #362018;
        }

        .brand-beige {
            background-color: #F5EDE1;
        }